html {
	font-size: 14px;
	font-family: Verdana;
}
.maindiv {
	width: 600px;
	margin: auto;
	background-color: grey;
}

.box {
	text-align: center;
	float:left;
	height: 200px;
}
section{
	background-color: green;
	width: 50%;
}
.header, .footer {
	width: 100%;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	background-color: magenta;
}

.sidebar, {
	width: 25%;
	font-size: 16px;
	background-color: magenta;	
}
.navigation {
	width: 25%;
	font-size: 16px;
	background-color: blue;
}