html {
	font-size: 14px;
	font-family: Verdana;
}
.header {
	font-size: 46px;
	text-align: center;
	background-color: magenta;
}

.footer {
	font-size: 10px;
	text-align: center;
	background-color: magenta;
}

.content {
	font-size: 14px;
}

.sidebar {
	font-size: 10px;
	background-color: magenta;	
}

.navigation {
	font-size: 12px;
	background-color: blue;
}